<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>jp.or.iij4u.ss.yamaoka.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MbpTrackpadControlKeyDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>jp.or.iij4u.ss.yamaoka.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOClass</key>
			<string>jp_or_iij4u_ss_yamaoka_MbpTrackpadControlKeyDriver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOMatchCategory</key>
			<string>jp_or_iij4u_ss_yamaoka_MbpTrackpadControlKeyDriver</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012年 YAMAOKA Tohru. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.2</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.2</string>
	</dict>
</dict>
</plist>
